<div class="center">

  <div>
    <h1>Angular Golf Scorecard</h1>
    <h3>Select a course and start playing!</h3>
  </div>

  <div>
    <form [formGroup]='form' #courseForm = 'ngForm' (ngSubmit)="getCourseById(courseForm.value.id)" >
    <h4>Which course?</h4>
      <mat-form-field appearance="fill">
      <mat-label>Select Course</mat-label>
        <mat-select formControlName='id'>
          <mat-option *ngFor="let courses of course" value={{courses.id}}>
            {{courses.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <br>
        <br>
        <br>
        <button mat-raised-button type="submit" color="basic">Let's Play!</button>
      </form>
  </div>
</div>
